*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body, html{
    scroll-behavior: smooth;
    
}



/* Heading  */


.somediv1{
    display: flex;
    justify-content: space-between;
    
    
}

.somediv{
    background: rgb(16, 16, 177);

}


.somediv1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}


.somediv1 ul li{
    margin-left: 15px;
    font-size: 25px;
    list-style-type: none;
    
}
.somediv1 ul li a{
    text-decoration: none;
    color: white;
  
}

.somediv1 ul li:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}

.somediv1 ul li a:hover{
    color: rgb(129, 121, 121);
}

.somediv1 img{
    max-width: 200px;
    width: 100%;

    
}


/* Home  */


.kitchen2{
    display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.kitchen{
    background: #1f2194;

   
}



.kitchen3 h1{
    color: rgb(193, 190, 190);
    font-size: 45px;
}

.kitchen3 p{
    font-size: 20px;
    color: white;
    margin-top: 20px;

}

.kitchen3 button{
    width: 150px;
    height: 40px;
    background: blue;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    margin-top: 20px;

}


.kitchen3{
    max-width: 40%;
    width: 100%;
}


.kitchen2 img:hover{

    transform: scale(1.1);
    transition: 0.5s;
}

/* About us  */

.About0{
    background: #1f2194;
    padding-top: 50px;
}


.About{
    display: flex;
    color: white;
}


.About3 p{
  width: 400px;
}



/* New Section  */

.Loc{
    background: #1f2194;
    padding-top: 100px;
    padding-bottom: 40px;
}

.Locat{
    display: flex;
    justify-content: space-between;
    
}

.Location{
    width: 40%;
    color: white;
}

.Location p{
    margin-top: 20px;
}


.Location button{
    width: 150px;
    height: 40px;
    background: blue;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}





.Locimg img{
    width: 550px;
    border-radius: 20px;
   
}

strong{
    color: black;
}


/* Footer  */


.somefoot{
     background: #0d0da8;
    
   
    
}

.somefooter h2{
    font-size: 40px;
    color: whitesmoke;
    text-align: center;

    
}

.Aboutimg img:hover{
    transform: scale(1.1);
    transition: 0.5s;

}


.somefooter img{
    width: 50px;
    margin-right: 15px;
    
    
}


.somefooter{
    margin-top: 50px;
    margin-bottom: 30px;
  
    
    
   
    
}

.somefooter a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-left: 15px;
   
    
}


.somefooter2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}



.sometit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}





/* Service */

.somesec{
    background: rgb(29,32,67);
    background: linear-gradient(90deg, rgba(29,32,67,1) 4%, rgba(10,3,128,1) 100%, rgba(195,230,255,1) 100%);
    padding-top: 50px;
    padding-bottom: 40px;
}

.swiper {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 700px;
    width: 100%;
    background: #5b5ee5;
    
  }

  .swiper-slide {
    width: 500px;
    height: 300px;
  }

  .swiper-slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
   
  }



.somehome{
    background: rgb(29,32,67);
    background: linear-gradient(90deg, rgba(29,32,67,1) 4%, rgba(10,3,128,1) 100%, rgba(195,230,255,1) 100%);
    width: 100%;
    height: 500px;
}

.sometexts{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 40px;
}

.sometexts h2 a{
    text-decoration: none;
}

.sometexts h1{
    color: white;
    font-size: 40px;
    
}

.some1{
    align-items: center;
}

.some1 ul li{
    color: white;
    list-style-type: none;
    font-size: 25px;
   
}

.some2 ul li{
    color: white;
    list-style-type: none;
    font-size: 25px;

}

.some3 ul li{
    color: white;
    list-style-type: none;
    font-size: 25px;


}

.someall{
    display: flex;
    justify-content: space-between;
}




.sometexts button{
    width: 150px;
    height: 70px;
    background: blue;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 140px;
    margin-top: 20px;
}




/* new section  */

.cards{
    background: rgb(29,32,67);
    background: linear-gradient(90deg, rgba(29,32,67,1) 4%, rgba(10,3,128,1) 100%, rgba(195,230,255,1) 100%);
}


.cards1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card{
    margin-top: 30px;
}



.card-img-top {
    max-width: 100%;
    height: 150px;
}










@media (max-width:992px){
    .somediv1{
        flex-wrap: wrap;
    }


    .somediv1 img{
    max-width: 150px;
    width: 100%;
    }
    
    .somediv1 ul{
        flex-direction: column;
    }

}


@media (max-width:768px){
    .kitchen2{
        
        flex-direction: column;
    }

    .kitchen2 img{
        order: 1;
    }
    .kitchen3{
        max-width: 100%;
        order: 2;
    }


    .About{
        flex-direction: column;
    }

    .Locat{
        flex-direction: column;
        align-items: center;
    }

    .Locimg img{
        margin-top: 40px;
    }


    .About{
        align-items: center;
        justify-content: center;
    }

    .Location{
        width: 100%;
    }


    .About3 p{
        width: 100%;
    }


    .About{
        padding-top: 50px;
    }


    .somefooter{
        display: flex;
        flex-direction: column;
    }


    .someall{
        display: flex;
        flex-direction: column;
    }


    .swiper{
        margin-top: 270px;
    }
    

    .sometexts{
        flex-direction: column;
    }

   .somefooter2{
    flex-wrap: wrap;
   }

   .somefooter2 a{
    margin-top: 15px;
   }


   .cards1{
    justify-content: center;
   padding-bottom: 20px;
   }

  



    




 
}


@media (max-width:576px){
    .kitchen2 img{
        width: 50%;
    }

    .Aboutimg img{
        max-width: 300px;
        width: 100%;
    }

    .Locimg img{
        max-width: 360px;
        width: 100%;
    }


    .swiper{
        margin-top: 400px;
    }



    .cards1{
        justify-content: center;
        padding-bottom: 20px;

    }
}
